.button {
  background-color: blueviolet;
  width: 200px;
  padding: 10px;
  margin: 12px;
  color: black;
}

.container {
  background-size: cover;
  background-color: aliceblue;
  height: 100vh;
  text-align: center;
}
